spring:
  application:
    name: soal
  datasource:
    url: jdbc:postgresql://ep-lucky-sea-a1a851my-pooler.ap-southeast-1.aws.neon.tech/dbsoal?sslmode=require
    username: neondb_owner
    password: npg_sjnQiTND40Aa
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  thymeleaf:
    cache: false
